@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model IEnumerable<FileModel>
<p class="bg-black text-white">File Metadata</p>
<table class="centre-left">
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="@obj.Id" style="display: none">
                <td><span class="badge bg-primary w-100 text-left">File Name:</span></td>
                <td>@obj.Name</td>
            </tr>
            <tr class="@obj.Id" style="display: none">
                <td><span class="badge bg-primary">Created On:</span></td>
                <td>@obj.UpdatedDate.ToString("dd-MM-yy h:mm tt")</td>
            </tr>
            <tr class="@obj.Id" style="display: none">
                <td><span class="badge bg-primary w-100 text-left">Size:</span></td>
                <td>@(obj.Size / 1024) KB</td>
            </tr>

            <tr class="@obj.Id" style="display: none">
                <td><span class="badge bg-primary w-100 text-left">Download:</span></td>
                <td> <a href="~/Download/DownloadFile?filePath=@obj.Path&fileName=@obj.Name">⬇️ </a></td>
            </tr>

        }
    </tbody>
</table>

